
// VARIABLES CSS
:root{

// COLOUR 
    --frist-color:#000000;
    --second-color:#3E3E3E;
    --thirt-color:#242424;
    --primary-color:#E96F0C;
    --icon-color:#FFC108;
    --icon-shadow-color:#ce9b04;
    --text-second-color:#BDBDBD;
    --label-color:#FF0000;
    --white-color:#fff;
    --history-color:#f3f3f3;
// BASE
    --border-radius: 3px;
    --box-shadow-first: rgba(0, 0, 0, 0.05);
    --link-width:300%;
    --footer-color:#181818;


// COLOUR TEST
    --black-colour: #000000;
    --grey-colour: #4b4b4b;
    --grey-white-colour: #c4c4c4;
    --orange-colour: #ff9001;
    --orange-red-colour: #ff4200;

// FONT FAMILY
    --logo-font: 'Montserrat Alternates', sans-serif;
    --heading-font: 'Poppins', sans-serif;
// BUTTON COLOUR
    --button-signIn-colour: #0dc985;
    --button-signIn1-colour: #10ef9d;
    --button-signIn-check-colour:#0eb175;
}