.label--focus{
    color: var(--white-color);
    background-color: red;
    padding: 0 4px;
    border-radius: 20%;
    font-size: 1rem;
    font-weight: 400;
}

.display-none{
    display: none;
}

.button-user{
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.6rem;
    font-family: var(--logo-font);
    background-color: var(--background-color);
    border: var(--border-color) solid 1px;
    border-radius: 20px;
    color: var(--text-color);
    padding: 0 36px;
    transition: ease-in-out 0.2s;
    &:hover{
        border-color: var(--border-hover-color);
        background-color: var(--background-hover-color);
        color: var(--text-hover-color);
        cursor: pointer;
    }
}