.footer__container{
    padding-top: 24px;
}

.footer__object{
    display: flex;
    background-color: var(--footer-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    &-item{
        display: flex;
    }
    &-link{
        font-size: 1.4rem;
        text-transform: uppercase;
        line-height: 5.6rem;
        margin-right: 12px;
        transition: linear 0.2s;
        &:hover{
            color: var(--label-color);
        }
    }
}

.footer__info{
    display: flex;
    &-item{
        width: 30px;
        height: 30px;
        margin-left: 8px;
    }
    &-link{
        text-align: center;
        font-size: 1.4rem;
        line-height: 30px;
        background-color: var(--second-color);
        border-radius: var(--border-radius);
        color: var(--footer-color);
        transition: linear 0.2s;
        &:hover{
            color: var(--label-color);
        }
        &.footer__info-link--home:hover{
            color: var(--footer-color);
            filter: brightness(1);
        }
    }
    &-link--home{
        background-color: var(--label-color);
        color: var(--footer-color);
        filter: brightness(0.8);
    }
}

.footer__text{
    margin-top: 24px;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 24px;
    color: var(--footer-color);
    &:hover{
        cursor: default;
    }
}